<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template/template :: head">
</head>

<body>
	<header th:replace="template/template :: header"></header>

		<div class="container">
			<br>		
				<h1 th:text="${title}"></h1>
			</br>
		</div>
		<div class="container">
	
			<a class="btn btn-info btn-sm mb-3" th:href="@{/pokemon/evolutions/} + ${idPokemon} + @{/register}"
				th:text="'Register New Evolution'" title="Register New Evolution">
			</a>
	
			<div class="table-responsive card bg-dark  table-striped" th:if="${not #lists.isEmpty(evolutions)}">
				<table class="table table-info">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Type</th>
							<th scope="col">Second Type</th>
							<th scope="col">Evolves At Level</th>
							<th scope="col">Abilities</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>				
						<tr th:each="ev:${evolutions}">
							<th scope="row" th:text="${ev.name}"></th>
							<td th:text="${ev.type}"></td>
							<td th:text="${ev.extraType}"></td>
							<td th:text="${ev.evolutionLevel}"></td>
							<td>
								<ul>
									<li th:each="ab: ${ev.abilities}" th:text="${ab.name}"></li>
								</ul>
							</td>
							<td>
								<a class="btn btn-sm btn-lg" th:href="@{/pokemon/evolutions/edit/} + ${ev.idEvolution}"
									title="Edit Evolution">
									<img class="img-responsive center-box" th:src="@{/images/edit.png}" height="auto">
	
								</a>
							</td>
							<td>
								<a class="btn btn-sm btn-lg" th:href="@{/pokemon/evolutions/delete/} + ${ev.idEvolution}"
									title="Delete Evolution" onclick="return confirm('Are you sure?')">
									<img class="img-responsive center-box" th:src="@{/images/trash.png}" height="auto">
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	<br>
	</br>	

	<footer th:replace="template/template :: footer"> </footer>

</body>

</html>