
@import url('https://fonts.googleapis.com/css?family=Oswald');


body {
    background-image: url('/images/pokemon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Oswald", sans-serif;
}

